.parallel_layout_max .parallel__tasks
{
    margin-top: 20px;
    margin-left: 0;
}

.parallel_layout_max .parallel__tasks-list
{
    display: none;
}

a.parallel__spoiler
{
    cursor: pointer;

    border-bottom-style: dashed;
}

.parallel_layout_max:target .parallel__tasks-list
{
    display: block;
}
