.parallel__task
{
    margin: 0 0 3px;
    padding-left: 15px;
}

.parallel__task::before
{
    font-size: 0.95em;
    font-weight: bold;

    position: absolute;

    width: 15px;
    margin-left: -15px;

    content: attr(data-code);
}
