.documents__doc
{
    margin-bottom: 40px;

    @media (--tablet)
    {
        flex-shrink: 0;
        flex-basis: calc((100% - 40px) / 3);

        &:not(:nth-child(3n))
        {
            margin-right: 20px;
        }
    }
}
