.documents__doc
{
    margin-bottom: 40px;

    @media (--tablet)
    {
        flex-shrink: 0;
        flex-basis: calc((100% - 40px) / 3);

        margin-right: 20px;

        &:nth-child(3)
        {
            margin-right: 0;
        }
    }
}
