.letsgo-plan__date
{
    font-size: $fontSize2;
    line-height: $lineHeight2;

    position: relative;

    display: inline-block;

    margin: 0 0 20px;
    padding: 5px 15px;

    color: #fff;
    background: $letsgoFlagsColor;

    @media (--tablet)
    {
        font-size: $fontSize3;
        line-height: $lineHeight3;
    }
}

.letsgo-plan__date::after
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 20px;

    content: '';
    transform: translateX(99%);

    background-image: linear-gradient(to bottom right, $letsgoFlagsColor 50%, transparent 51%);
}
