.parallel
{
    display: flex;
    flex-direction: column;

    margin: 0 0 40px;

    @media (--tablet)
    {
        flex-direction: row;
    }
}

.parallel__content
{
    margin: 0 0 20px;

    @media (--tablet)
    {
        flex-grow: 1;
    }
}
