.header__notification
{
    font-size: 15px;

    padding: 15px 10px;

    text-align: center;

    color: #fff;
    background: #e34919;
}

.header__notification a,
.header__notification a:visited
{
    text-decoration: none;

    color: #fff;
    border-bottom: 1px solid $textSilentWhite;
}
