.letsgo-plan
{
    position: relative;

    padding: 40px 0 0;

    @media (--tablet)
    {
        border-bottom-width: 20px;
    }
}

.letsgo-plan__sections
{
    display: flex;
    flex-direction: column;

    @media (--tablet)
    {
        flex-direction: row;
        justify-content: space-between;
    }
}
