.features
{
    margin-bottom: 100px;
    padding: 60px 0 20px;

    color: $lighterGray;

    .wrapper
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.features.bevel
{
    margin-top: 0;
}
