.entrance-bonus__section
{
    margin-bottom: 40px;

    @media (--tablet)
    {
        &:not(.entrance-bonus__section_wide_yes)
        {
            width: calc(50% - 40px);
        }

    }
}

.entrance-bonus__section_type_students .entrance-bonus__section-text
{
    @media (--tablet)
    {
        column-gap: 20px;
        column-count: 3;
    }
}
