.letsgo-plan__section
{
    box-sizing: border-box;

    padding-right: 15px;
    padding-bottom: 20px;

    border: 2px solid $letsgoFlagsColor;

    background-color: $lighterGray;

    @media (--mobile-only)
    {
        margin-bottom: -2px;
    }

    @media (--tablet)
    {
        font-size: $fontSize2;
        line-height: $lineHeight2;

        flex-basis: $gridCol1;
    }
}

.letsgo-plan__section_outdated_yes
{
    opacity: 0.5;

    background-color: $lightGray;
}

.letsgo-plan__text
{
    margin: 0;
    padding: 0;

    list-style: none;
}

.letsgo-plan__text li
{
    position: relative;

    margin: 0 0 3px;
    padding: 0 0 0 15px;
}

.letsgo-plan__text li::before
{
    position: absolute;
    top: 7px;
    left: 0;

    display: inline-block;

    width: 10px;
    height: 2px;

    content: '';

    background: $letsgoFlagsColor;
}
