.entrance-bonus__section-text
{
    font-size: $fontSize1;
    line-height: $lineHeight1;

    margin: 0;

    color: #666;

    @media (--tablet)
    {
        font-size: $fontSize2;
        line-height: $lineHeight2;
    }
}

ul.entrance-bonus__section-text
{
    padding: 0 0 0 12px;

    list-style-type: none;
}

ul.entrance-bonus__section-text > li::before
{
    float: left;

    width: 12px;
    margin-left: -12px;

    content: '–';
}
