.entrance-bonus__section-text
{
    color: #666;
    margin: 0;
    font-size: $fontSize1;
    line-height: $lineHeight1;

    @media (--tablet) {
        font-size: $fontSize2;
        line-height: $lineHeight2;
    }
}

ul.entrance-bonus__section-text
{
    list-style-type: none;
    padding: 0 0 0 12px;
}

ul.entrance-bonus__section-text > li::before
{
    content: '–';
    float: left;
    margin-left: -12px;
    width: 12px;
}
