.parallel__title
{
    font-size: $fontSize3;
    line-height: $lineHeight3;

    max-width: 450px;
    margin: 0 0 10px;

    color: #000;

    @media (--tablet)
    {
        font-size: $fontSize4;
        line-height: $lineHeight4;
    }
}
