.documents
{
    padding: 100px 0 40px;

    color: $lighterGray;
    border-bottom: 1px solid #ddd;
}

.documents .wrapper
{
    color: #000;
}

.documents__list
{
    display: flex;
    flex-direction: column;

    @media (--tablet)
    {
        flex-direction: row;
        justify-content: space-between;
    }
}
