.documents
{
    padding: 40px 0 40px;

    background-color: $lighterGray;
}

.documents__list
{
    display: flex;
    flex-direction: column;

    @media (--tablet)
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
